#question-container {
  margin: 5vh auto;
  padding: 1rem;
  width: 50vw;
  background: rgb(255, 180, 0);
  box-sizing: border-box;
}

#question {
  font-size: 1.5rem;
  margin: 0.7rem 0;
  font-weight: 700;
}

#addition-to-question {
  margin: 0.5rem auto;
  background: rgb(0, 255, 255);
  font-size: 1.2rem;
  box-shadow: inset 0 0 5px orange;
  border-radius: 5px;
}
#explanation {
  background: rgb(255, 255, 0);
  font-size: 1.2rem;
  box-shadow: inset 0 0 5px orange;
  border-radius: 5px;
}
#next-button {
  background: rgb(0, 200, 255);
  cursor: pointer;
  margin: 5px auto;
  font-size: 1.2rem;
}
#next-button:active {
  transform: scale(1.1);
}

#mobile-topic {
  display: none;
}

.answer-option {
  text-align: left;
  margin: 5px 0;
}
.answer-option button {
  cursor: pointer;
  font-size: 1.2rem;
}

@media only screen and (max-width: 450px) {
  #question-container {
    max-width: 100%;
    width: 99%;
    height: auto;
    margin: auto;
    box-sizing: border-box;
  }
  #question {
    font-size: 1.1rem;
  }
  #addition-to-question {
    font-size: 1rem;
  }
  .answer-option button {
    cursor: pointer;
    font-size: 1.1rem;
  }
  #explanation {
    font-size: 1rem;
  }
  #answers ul {
    padding-inline-start: 20px;
  }
  #mobile-topic {
    display: inline;
  }
}
